In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel(r'C:\Users\Dhir\OneDrive\Desktop\DATA ANALYTICS\POWER BI PROJECT\ECOM (Afame)\ECOMM DATA.xlsx')

##CLEANING THE DATA

In [3]:
# Display basic information about the dataset
print("Basic Information About the Dataset:")
print(df.info())

Basic Information About the Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB
None

In [4]:
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
            Row ID                     Order Date  \
count  51290.00000                          51290
mean   25645.50000  2013-05-11 21:26:49.155781120
min        1.00000            2011-01-01 00:00:00
25%    12823.25000            2012-06-19 00:00:00
50%    25645.50000            2013-07-08 00:00:00
75%    38467.75000            2014-05-22 00:00:00
max    51290.00000            2014-12-31 00:00:00
std    14806.29199                            NaN

                           Ship Date   Postal Code         Sales  \
count                          51290   9994.000000  51290.000000
mean   2013-05-15 20:42:42.745174528  55190.379428    246.490581
min              2011-01-03 00:00:00   1040.000000      0.444000
25%              2012-06-23 00:00:00  23223.000000     30.758625
50%              2013-07-12 00:00:00  56430.500000     85.053000
75%              2014-05-26 00:00:00  90008.000000    251.053200
max              2015-01-07 00:00:00  99301.000000  22638.480000
std                              NaN  32063.693350    487.565361

           Quantity      Discount        Profit  Shipping Cost
count  51290.000000  51290.000000  51290.000000   51290.000000
mean       3.476545      0.142908     28.610982      26.375818
min        1.000000      0.000000  -6599.978000       0.002000
25%        2.000000      0.000000      0.000000       2.610000
50%        3.000000      0.000000      9.240000       7.790000
75%        5.000000      0.200000     36.810000      24.450000
max       14.000000      0.850000   8399.976000     933.570000
std        2.278766      0.212280    174.340972      57.296810

In [5]:
df.shape

(51290, 24)

In [6]:
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [16]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [17]:
#drop null values
df.dropna(inplace=True)

In [25]:
#change data type
df['Sales']=df['Sales'].astype('int')
df['Quantity']=df['Quantity'].astype('int')
df['Shipping Cost']=df['Shipping Cost'].astype('int')
df['Profit']=df['Profit'].astype('int')

In [31]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [36]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

## EXPORTING THE CLEANED DATA

In [38]:
df.to_csv('ECOMM DATA CLEANED.csv' , index=False)